{% extends "base.html" %}

{% block  script %}
<script type="text/javascript">
  var request;
  var timerID=null;

  function update() {
	// функция для обновления данных о лампочке
    request = new XMLHttpRequest();
    request.responseType = "json";
	request.open("GET", "{{ request.url_root[:-1] }}{{ url_for('bulbs_update') }}");
	request.onreadystatechange = bulbs_update;
	request.send();
  }

  function bulbs_update() {
	if (request.readyState == 4) {
	  var status = request.status;
	  if (status == 200) {
	  	var json = request.response;
	  	for (key in json)
	  		document.getElementById(key).setAttribute("fill", parseInt(json[key])? "yellow": "black");
	  }
	}
  }

  function set_update(){
  	timerID = setInterval(update, 500);
  }

  function send_platform(type) {
    request = new XMLHttpRequest();
	var json = {command: String(type), arg: document.getElementById("platform").value};
	request.open("POST", "{{ request.url_root[:-1] }}{{ url_for('add_commands') }}", true);
	request.setRequestHeader("Content-Type", "application/json");
	request.onreadystatechange = reqReadyStateChange;
	request.send(JSON.stringify(json));
  }

  function send_relay(id_bulb, type) {
    request = new XMLHttpRequest();
	var json = {command: (type? 'A': 'D'), arg: id_bulb};
	request.open("POST", "{{ request.url_root[:-1] }}{{ url_for('add_commands') }}", true);
	request.setRequestHeader("Content-Type", "application/json");
	request.onreadystatechange = reqReadyStateChange;
	request.send(JSON.stringify(json));
  }

  function reqReadyStateChange() {
	if (request.readyState == 4) {
	  var status = request.status;
	  if (status == 200) {
	    document.getElementById("result").innerHTML=request.responseText;
	  }
	}
  }

window.onload = set_update;
</script>
<style type="text/css">
.inline {
	display: inline-block;
	vertical-align: middle;
}
.main-inline {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
	padding: 3px;
}
</style>
{% endblock %}

{% block content %}

<div class="main-inline" border='1'>
	<p>Cостояние ламп:</p>
	{% if data %}
	  {% for num, bulb in data %}
	  <hr>
	  <div>
		<svg class="inline" width="60" height="60">
			<circle id="bulb{{ num }}" cx="30" cy="30" r="25" fill="{{ 'yellow' if bulb['val'] else 'black' }}" />
		</svg>
		<div class="inline">{{ bulb['name'] }}</div>
		<input type="button" class="inline" value="Вкл" onclick="send_relay({{ num }}, 1)"/>
	    <input type="button" class="inline" value="Выкл" onclick="send_relay({{ num }}, 0)"/>
	  </div>
	  {% endfor %}
	{% else %}
	  <h2>Ламп нет</h2>
	{% endif %}
	</svg>
</div>

<div class="main-inline" border='1'>
	<p>Управление платформой:</p>
	<input id="platform" type="number" size="4" name="arg" min="1" max="150" value="10">
	<input type="button" value="Вверх!" onclick="send_platform('R')"/>
	<input type="button" value="Ввниз!" onclick="send_platform('L')"/>
</div>

<div class="main-inline" border='1'>
	<div id="result"></div>
</div>

{% endblock %}