<!DOCTYPE html>
<html>
<script type="text/javascript">
  var request;

  function send() {
    request = new XMLHttpRequest();
	// строка с параметрами для отправки
	//var body = "name=" + user.name + "&age="+user.age;
	//request.open("GET", "http://localhost:5000/data?"+body);
	request.open("GET", "http://localhost:5000/send");
	request.onreadystatechange = reqReadyStateChange;
	request.send();
  }

  function send_platform() {
    request = new XMLHttpRequest();
	// строка с параметрами для отправки
	var body = "command=" + document.getElementById("platform-type").value + "&arg=" + document.getElementById("platform").value;
	request.open("GET", "http://localhost:5000/data?"+body);
	request.onreadystatechange = reqReadyStateChange;
	request.send();
  }

  function reqReadyStateChange() {
	if (request.readyState == 4) {
	  var status = request.status;
	  if (status == 200) {
	    document.getElementById("result").innerHTML=request.responseText;
	  }
	}
  }

</script>
<head>
	<meta charset="utf-8" />
	<title>Cool</title>
</head>
<body>
	<table border="1">
		<tr>
			<td>
				<p>Cостояние ламп:</p>
				<svg version="1.1"
			     baseProfile="full"
			     width="60" height="150"
			     xmlns="http://www.w3.org/2000/svg">
				  	<circle cx="30" cy="30" r="25" fill="black" />
				  	<circle cx="30" cy="90" r="25" fill="black" />
				</svg>
			</td>
			<td>
				<form method="get" action="UI.html">
				  	<input type="hidden" name="command" value="A" />
				  	<p>Лампочка номер:</p>
				  	<input type="number" size="2" name="arg" min="1" max="2" value="1">
				  	<input type="submit" value="light on"/>
				</form>
				<form method="get" action="UI.html">
				  	<input type="hidden" name="command" value="D" />
				  	<p>Лампочка номер:</p>
				  	<input type="number" size="2" name="arg" min="1" max="2" value="1">
				  	<input type="submit" value="light on"/>
				</form>
			</td>
			<td>
				<select id="platform-type">
				  <option value="R">Поднять Платформу:</option>
				  <option value="L">Опустить платформу:</option>
				</select>
				<input id="platform" type="number" size="2" name="arg" min="1" max="150" value="10">
				<input type="button" value="Поехали" onclick="send_platform()"/>
			</td>
			<td>
				<div id="result"></div>
			</td>
		</tr>
	</table>
</body>
</html>