flask			# основной фреймворк
flask_socketio 	# для поддержки вебсокетов
eventlet		# асинхронный сервис для сокетов
functools 		# для декоратора функции в фласке
requests  		# для отправки POST запросов
plotly			# для постройки красивых графиков
pandas  		# для обработки полученных данных
influxdb		# клиент для базы данных
pylint    		# venv
