flask		# основной фреймворк
functools 	# для декоратора функции в фласке
requests  	# для отправки POST запросов
plotly		# для постройки красивых графиков
pandas  	# для обработки полученных данных
influxdb	# клиент для базы данных
pylint    	# venv
