flask           # основной фреймворк
flask_socketio  # для поддержки вебсокетов
eventlet        # асинхронный сервис для сокетов
functools       # для декоратора функции в фласке
plotly          # для постройки красивых графиков
pandas          # для обработки полученных данных
influxdb        # клиент для базы данных
datetime        # для удобной работы с временем
pylint          # venv
